{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
      "airbnb-base/legacy",
      "plugin:jsdoc/recommended"
  ],
  "plugins": [
      "@babel",
      "jsdoc"
  ],
  "globals": {
    "include": true,
    "inlets": true,
    "jsarguments": true,
    "LiveAPI": true,
    "outlets": true,
    "post": true
  },   
  "ignorePatterns": [
    "dist/",
    "node_modules/",
    "src/*.polyfill.js"
  ],
  "rules": {
      "array-bracket-spacing": ["error", "always"],
      "block-spacing": ["error", "always"],
      "comma-spacing": ["error"],
      "func-names": ["warn", "as-needed"],
      "indent": ["warn", 4],
      "max-len": [ "error", {
          "code": 120,
          "tabWidth": 4,
          "ignoreUrls": true,
          "ignoreComments": true,
          "ignoreRegExpLiterals": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true
      }],
      "no-global-assign": 0,
      "no-param-reassign": [ "warn", {
        "props": false
      }],
      "no-unused-vars": 0,
      "no-unused-expressions": 0,
      "no-use-before-define": 0
  }
}